<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Ruby Twitter</title>
<link rel="stylesheet/less" type="text/css" href="./css/style.less">
<script src="./js/less-1.3.0.min.js"></script>
<script type="text/javascript">
less.watch();
</script>
</head>
<body id="home">
<h1>Ruby Twitter</h1>
<%= @twitter %>
</body>
</html>
